
/* ---------------------- HEADER ---------------------- */

header{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.encabezado{
    background-image: url(../imagenes/papeleria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 600px;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
}

.encabezado .opacarImg{
    position: absolute;
    background-color: #AA5315;
    width: 100%;
    max-height: 600px;
    height: 500px;
    top: 0;
    opacity: 0.6;
}

.container-contacto{
    position: relative;
    height: 50px;
    text-align: right;
    padding: 50px 220px 0 0;
}

.container-contacto .contacto-title{
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
}

.container-nombre {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 100px 0 50px 0;
}

.container-nombre h2 {
    width:fit-content;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid #E8E8E8 2px;
    font-weight: 300;
    font-size: 2rem;
}


/* ---------------------- BARRA DE NAVEGACION ---------------------- */

.nav-inicio{
    background-color: rgb(94, 94, 94);
}

/* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

.container-oferta{
    padding: 10px;
    margin: auto;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 235px);
    gap: 20px;
    justify-content: center;
}

.tarjetas div{
    background-color: gray;
    height: 304px;
}


/* ---------------------- SECCION UBICACION ---------------------- */

.section-ubicacion{
    background-color: #F5F5F5;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
}

/*
.titulo-ubicacion{
    margin-top: 50px;
}
*/

.container-ubicacion div iframe{
    width: 100%;
}


/* ---------------------- SECCION MEDIA QUERIES ---------------------- */

@media screen and (max-width: 1024px){

    /* ---------------------- HEADER ---------------------- */

    .container-contacto .contacto-title{
        font-size: 1rem;
    }

    .container-nombre h2 {
        font-size: 1.8rem;
    }

    /* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

    
}

@media screen and (max-width: 750px){

    .encabezado,
    .opacarImg {
        height: 450px;
    }

    .container-contacto{
        padding: 50px 0 0 0;
        text-align: center;
    }

    .container-contacto .contacto-title{
        font-size: 1rem;
    }

    .container-nombre h2 {
        font-size: 1.7rem;
    }

    /* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

    .tarjetas{
        grid-template-columns: repeat(2, 235px);
    }

    .tarjetas div{
        height: 304px;
    }
}

@media screen and (max-width: 550px){
    .container-contacto .contacto-title{
        font-size: 0.9rem;
    }

    .container-nombre h2 {
        font-size: 1.6rem;
    }

    /* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

    .tarjetas{
        grid-template-columns: repeat(1, 235px);
    }

    .tarjetas div{
        height: 304px;
    }
}