* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif, Arial;
}

body{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 16px;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}


/* ---------------------- BARRA DE NAVEGACION ---------------------- */

.menu{
    position: relative;
    height: 50px;
    background-color: #424242;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.1rem;
    padding: 0;
}

.menu ul li:not(.logoPapeleria){
    padding: 14px;
}

.nav-inicio,
.nav-servicios{
    border-right: solid rgb(148, 148, 148) 2px;
}

.nav-papeleria,
.nav-mas{
    border-left: solid rgb(148, 148, 148) 2px;
}

.logoPapeleria img{
    width: 280px;
    height: 60px;
    margin: -30px 5px 0 5px;
    border: rgba(255, 255, 255, 0.603) solid 4px;
}

/* ---------------------- BARRA DE NAVEGACION MOBILE ---------------------- */

.menuDesplegable,
.contenerdor-menu-desplegable {
    display: none;
}

.menuDesplegable{
    position: relative;
    height: 50px;
    background-color: #424242;
}

.barras-abrir-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barras-abrir-menu ul {
    list-style: none;
}

.barras-abrir-menu img {
    width: 35px;
}

/* -------------------- SECCION BASE DE DISEÑO TITULOS -------------------- */

.titulos{
    margin: 30px auto;
    text-align: center;
    height: 56px;
    border-top: #BBBBBB solid 2px;
    border-bottom: #BBBBBB solid 2px;
}

.titulos h3 {
    padding-top: 15px;
}

/* ---------------------- SECCION FOOTER ---------------------- */

footer{
    background-color: #393939;
}

footer p{
    margin: 0;
}

.container-footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    color: white;
}

.container-atencion{
    width: 50%;
    text-align: center;
    /*padding-left: 50px;*/
}

.container-papeleria{
    width: 50%;
    text-align: center;
}

.container-horas {
    font-weight: lighter;
    padding: 0 20px;
    width: 250px;
    margin: auto;
}

.container-horas ul {
    padding: 0 25px 25px 0;
    margin: 0;
    text-align: left;
}

.container-titulo-footer h4{
    margin-top: 30px;
}

.container-footer-info{
    text-align: left;
    font-weight: lighter;
}

.container-footer-info a{
    text-decoration: underline;
}

/* ---------------------- SECCION COPYRIGHT ---------------------- */

.copyright{
    text-align: center;
}


/* ---------------------- SECCION MEDIA SCREEN ---------------------- */

@media screen and (max-width: 1024px) {
    
    /* ---------------------- BARRA DE NAVEGACION ---------------------- */

    .menu ul{
        font-size: 1rem;
    }

    .logoPapeleria img{
        width: 262px;
        height: 57px;
    }

    /* ---------------------- SECCION FOOTER ---------------------- */

    .container-footer{
        font-size: 0.9rem;
    }

    /* ---------------------- SECCION COPYRIGHT ---------------------- */

    .copyright{
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .menu {
        display: none;
    }

    .menuDesplegable {
        display: block;
    }
}
