
/* ---------------------- HEADER ---------------------- */

header{
    background-image: url(../imagenes/papeleria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
    height: 600px;
    color: white;
}

header .opacarImg{
    position: absolute;
    background-color: #AA5315;
    opacity: 0.6;
    width: 100%;
    max-height: 600px;
    height: 600px;
}

.container-contacto{
    text-align: right;
    position: relative;
    padding-top: 40px;
}

.container-contacto .contacto-title{
    margin: 40px 220px 0 0;
    /*padding: 40px 220px 0 0;*/
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
}

.container-nombre {
    position: relative;
    /*margin: 120px auto;*/
    margin: 120px auto;
}

.container-nombre h2 {
    width:fit-content;
    margin: 0 auto;
    padding: 20px 20px;
    border: solid #E8E8E8 2px;
    font-weight: 300;
    font-size: 2rem;
}


/* ---------------------- BARRA DE NAVEGACION ---------------------- */

.nav-inicio{
    background-color: rgb(94, 94, 94);
}

/*
.menu{
    position: relative;
    top: 170px;
    height: 50px;
    background-color: #424242;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.1rem;
    padding: 0;
}

.menu ul li:not(.logoPapeleria){
    padding: 14px;
}

.nav-inicio,
.nav-servicios{
    border-right: solid rgb(148, 148, 148) 2px;
}

.nav-papeleria,
.nav-mas{
    border-left: solid rgb(148, 148, 148) 2px;
}

.logoPapeleria img{
    width: 280px;
    height: 60px;
    margin: -30px 5px 0 5px;
    border: rgba(255, 255, 255, 0.603) solid 4px;
}*/




/* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

.container-oferta{
    padding: 10px;
    margin: auto;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 235px);
    gap: 20px;
    justify-content: center;
}

.tarjetas div{
    background-color: gray;
    height: 304px;
}


/* ---------------------- SECCION UBICACION ---------------------- */

.section-ubicacion{
    background-color: #F5F5F5;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
}

/*
.titulo-ubicacion{
    margin-top: 50px;
}
*/

.container-ubicacion div iframe{
    width: 100%;
}

@media screen and (max-width: 1024px){

    /* ---------------------- HEADER ---------------------- */

    header{
        height: 505px;
    }
    
    header .opacarImg{
        height: 505px;
    }

    .container-contacto .contacto-title{
        font-size: 1rem;
    }

    .container-nombre {
        margin: 110px auto;
    }

    .container-nombre h2 {
        font-size: 1.8rem;
    }

    /* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

    .tarjetas{
        grid-template-columns: repeat(3, 215px);
    }
    
    .tarjetas div{
        height: 297px;
    }
}

@media screen and (max-width: 765px){

    /* ---------------------- HEADER ---------------------- */

    header{
        height: 300px;
    }
    
    header .opacarImg{
        height: 300px;
    }

    .container-contacto .contacto-title{
        font-size: 1rem;
    }

    .container-nombre {
        margin: 110px auto;
    }

    .container-nombre h2 {
        font-size: 1.8rem;
    }

    /* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

    .tarjetas{
        grid-template-columns: repeat(3, 215px);
    }
    
    .tarjetas div{
        height: 297px;
    }
}

@media screen and (min-width: 650px) and (max-width: 764px) {

    /* ---------------------- HEADER ---------------------- */

    header{
        height: 245px;
    }
    
    header .opacarImg{
        height: 245px;
    }

    .container-contacto .contacto-title{
        font-size: 0.8rem;
    }

    .container-nombre {
        margin: 30px auto 60px auto;
    }

    .container-nombre h2 {
        font-size: 1rem;
        padding: 15px 15px;
    }
    
    /* ---------------------- SECCION ¿QUE OFRECEMOS? ---------------------- */

    .tarjetas{
        grid-template-columns: repeat(2, 215px);
    }
    
    .tarjetas div{
        height: 297px;
    }
}

